.header{
    background-color: #007cfd;
    color: #fff;
    text-align: center;
    height: 64px;
    font-size: 26px;
    line-height: 64px;
}

.chat-container .conversation-title{
    text-align: center;
    height: 64px;
    font-size: 24px;
    line-height: 64px;
    border: 1px solid #dbdbdb;
    border-left: none;
    border-right: none;
}

.chat-container .main{
    height: calc(100vh - 64px);
    display: flex;
}

.chat-container .conversation-detail{
    height:100%;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.chat-container .list-message{
    flex-grow: 1;
    overflow-y: auto;
}

.chat-container #send-message-form{
    position: relative;
}

.chat-container #send-message-form button{
    position: absolute;
    right: 10px;
    top: 23px;
    border: none;
    background: none;
    color: #007cfd;
    font-size: 1.5rem;
    outline: none;
}

#send-message-form .input-wrapper{
    margin: 0
}

#send-message-form .input-wrapper input{
    padding: 22px 20px;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.chat-container .list-message{
    padding: 10px;
}

.list-message .message .content{
    width: max-content;
    border-radius: 4px;
    padding: 4px 8px;
    max-width: 45%;
    word-break: break-all;
}

.list-message .message.mine .content{
    background-color: #007cfd;
    color: #fff;

}

.list-message .message.mine{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.list-message .message.their .content{
    background-color: #dbdbdb;
}

/* .icon{
    color: #007cfd;
} */

.chat-container .aside-left{
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
}

.chat-container .aside-left .create-conversation{
    align-items: center;
    height: 64px;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    border: none;
    outline: none;
}

.chat-container .aside-left .list-conversations .conversation{
    padding: 10px;
}

.chat-container .list-conversations .conversation.current{
    background: #dbdbdb;
}

.btn-bg-light{
    background-color: transparent;
    color: #333333;
}

.chat-container .aside-right{
    border-left: 1px solid #dbdbdb;
    width: 15%;
    padding: 10px;
}

.user-email{
    overflow: hidden;
    text-overflow: ellipsis;
}

.aside-right .input-wrapper input{
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

