.login-container{
    height: 100vh;
    background-image: url(../image/img1.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.login-container #login-form{
    height: 100vh;
    background-color: #fff;
    width: 30%;
    padding: 50px 15px; 
} 
.login-container .login-header{
    font-size: 40px;
    color: #535353;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.name-wrapper, .form-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-action{
    align-items: center;
}

@media screen and (max-width:576px){
    .login-container #login-form{
        width: 100%;
    }
}